
@import 'media-queries.scss';
@import 'fonts.scss';
@import 'universals.scss';
@import 'variables.scss';




.header {

&__nav-list{
    visibility: visible;
    @include desktop{
        visibility: visible;
        
    }
}

    &__nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        font-family: $font;
        color: $color-gray;
        font-size: $font-size-nav;
        

        @include mobile {
            display:flex;
            justify-content: flex-start;
        }
        
       li{
        &:hover{
            color:$color-black;
        }
       }
        
    }

    &__hidde{
        overflow: hidde;
    }

    &__ham{
        display: none;
        @include mobile {
            display: block;
            position: relative;
                     
        }
    }
        &__abrir-menu{
            position: relative;
            left: 261px;
            z-index: 1;
            background-color: transparent;
            border: 0px;
            visibility: hidden;
            
            @include mobile{
                visibility: visible;
            }
         }
         &__cerrar-menu{
            position: relative;
            left: 100px;
            z-index: 3;
            background-color: transparent;
            border: 0px;
            visibility: hidden;
            
            
         }

    
    &__logo{
     display: flex;
     gap: 50px;
     align-items: center;
     width: 100vw;
     
     ul{
         display: flex;
         list-style:none;
         gap: 40px;
         
         @include mobile {
             flex-direction: column;
             position: absolute;
             top: 0px;
             right: 0px;
             bottom: 0px;
             padding: 3rem 1.5rem;
             background-color: white;
             align-items: flex-start;
             box-shadow: 0 0 0 100vmax rgba(0,0, 0, .5);
             width: 60vw;
             gap: 35px;
             visibility: hidden;
             
                 
         }
         
         
     }
     
     select{
        border: none;
        background-color: transparent;
        font-family: $font;
        color: $color-gray;
        font-size: $font-size-nav;
     }
    }

    &__containerFeatures{
        position: relative;
    }

    &__buttonFeatures{
        border: none;
        background-color: transparent;
        font-family: $font;
        color: $color-gray;
        font-size: $font-size-nav;
        &:hover{
            color: $color-black;
        }
    }
    &__buttonCompany{
        border: none;
        background-color: transparent;
        font-family: $font;
        color: $color-gray;
        font-size: $font-size-nav;
        &:hover{
            color: $color-black;
        }
    }
    &__test{
        visibility: hidden;
        position: absolute;
    }
    &__test2{
        visibility: hidden;
        position: absolute;
    }

    &__menuDropdownFeatures{
        position: relative;
        display: none;
        background-color: $color-white;
        border: 1px solid #ccc;
        border-radius: 7px;
        width: 120px;
        opacity: 0;

        &:hover{
            opacity: 1;
        }

        li{
            

            &:hover{
                background-color: #007bff;
            }
        }
        
        a{
            text-decoration: none;
            color: $color-gray;
        }
      
    
        @include mobile {
            
            
            background-color: $color-white;
            border: 1px solid #ccc;
            border-radius: 7px;
            width: 120px;
            visibility: visible;
    
        }
    }

    &__containerFeatures:hover &__menuDropdownFeatures{
        display: block;
    }

    &__login{
        display: flex;
        gap: 40px;

        @include mobile {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 80vw;
            right: 0px;
            bottom:0px;
            padding: 0px 1.5rem;
            align-items: end;
            z-index: 1;
            align-items: center;
            gap: 20px;
            visibility: hidden;
        }
    }

    &__btnLogin{
        border: none;
        background-color: transparent;
        font-family: $font;
        color: $color-gray;
        font-size: $font-size-nav;
      
        &:hover{
            color:$color-black;
        }
        @include mobile {
            font-size: 14px;
        }
    }

    &__btnRegister{
        border: 2px solid $color-gray;
        border-radius: 15px;
        padding: 10px 20px 10px 20px;
        background-color: transparent;
        font-family: $font;
        color: $color-gray;
        font-size: $font-size-nav;

        &:hover{
            color:$color-black;
            border: 2px solid $color-black;
        }
        @include mobile {
            font-size: 14px;
            width: 46.9vw;
        }
      
    }
} 

    .icon__list{
    position: fixed;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 70px;
    left: 180px;
    @include mobile {
    position: unset;
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    width: 150px;
    box-shadow:none;
    top: 0px;
    left: 0px;
    }
        a{
            text-decoration: none;
            color: $color-gray;
            font-size: 16px;
            
        }
        li{
            margin-top: 20px;
            margin-bottom: 15px;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .link__list{
        position: fixed;
        background: white;
        padding: 5px 10px;
        border-radius: 10px;
        width: 150px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        top: 70px;
        left: 380px;
        @include mobile {
            position: unset;
            background: transparent;
            padding: 5px 10px;
            border-radius: 10px;
            width: 150px;
            box-shadow: transparent;
            top: 0px;
            left: 0px;
            box-shadow:none;
            }
        a{
            text-decoration: none;
            color: $color-gray;
            font-size: 16px;   
        }
        li{
            margin:20px 10px;

        }
    }

    .main{ 
    display:flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    @include mobile {
        flex-direction: column-reverse;
        
    }
    
    &__about {
        display:flex;
        flex-direction: column;
        gap: 20px;
        @include mobile {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            
        }
        
        h1 {
            font-family: $font;
            font-weight: 800px;
            font-size: 64px;
            margin-bottom: 30px;
            @include mobile {
                font-size: 32px;
                display: flex;
                width: 100vw;
                text-align: center;
                align-items: center;
                align-content: center;
                justify-content: center;
                gap: 8px;
                
                
            }
            } 
            
            span  {
        display: block;

             } 
    }
     &__person{
        img {
        width: 450px;
        height: auto;    
        }
        @include mobile {
            width: 100vw !important;
            height: auto;
            img{
                width: 100vw;
            }
            
        }
     }

     &__img-mobile{
        display: none;
        @include mobile {
         display: block;
        
        }
     }

     &__img-desktop{
        display: block;
        @include mobile {
            display: none;
            
        }
     }

     &__text {
        width: 79%;
        font-family: $font;
        font-size: $font-size-nav;
        color:$color-gray;
        line-height: 25px;
        margin-bottom: 30px;
        @include mobile {
            text-align:center;
            width: 100vw;

            
        }
        
   }
   &__btn{
    border: 2px solid $color-black;
    border-radius: 15px;
    padding: 15px 25px 15px 25px;
    background-color: $color-black ;
    font-family: $font;
    color: $color-white;
    font-size: $font-size-nav;
    width: 27%;
    &:hover{
        color:$color-black;
    background-color: $color-white;
    }
    @include mobile {
        width: 50vw;   
    }
}
&__companies {

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-content: center;
    align-items: center;
    margin-top: 13.3%;
    @include mobile {
       width: 100vw;
       align-items: center;
       justify-content: center;
       margin-bottom: 20px;
            
     }

        img {
         width: 80px;
         height: auto;
            @include mobile {
            text-align:left;
            width: 42px
                
            }
        }

    }

}
}